$mobile: 768px;
$pc: 769px;
@mixin posCenter($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $pc) {
    @content;
  }
}
body {
  background: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include pc() {
    font-size: 20px;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: top;
}
.flex {
  display: flex;
}
i {
  font-style: normal;
}
.prxArt {
  @include pc {
    position: sticky;
  }
  figure {
    background-attachment: fixed;
  }
}
section{
    background: #fff;
}
button {
  border: 0px;
  background: #ccc;
  cursor: pointer;
  @include mobile {
    width: 120px;
    height: 50px;
    border-radius: 2rem;
    font-size: 1.2rem;
  }
  @include pc {
    width: 200px;
    height: 60px;
    border-radius: 2rem;
    font-size: 1rem;
  }
}
#sec1 {
  @include pc {
    display: flex;
  }
  article {
    @include mobile {
      height: 50vh;
    }
    @include pc {
      width: 50%;
      height: 100vh;
    }
    position: relative;
  }
  .prxArt {
    figure {
      width: 100%;
      height: 100%;
      @include pc{
        background-size: contain;
        background-position-x: 50vw;
      }
      background-image: url(./images/visual01.jpg);
    }
  }
  hgroup {
    @include posCenter();
    text-align: center;
    p {
      font-size: 0.9rem;
      @include pc() {
        font-size: 0.7rem;
      }
    }
  }
}
#sec2 {
  article {
    position: relative;
    text-align: center;
  }
  #sec2-art1 {
    background-image: url(./images/parallax_bg.jpg);
    height: 80vh;
    hgroup {
      width: 50%;
      margin: 0 auto;
      p {
        font-size: 0.9rem;
        opacity: 0.8;
      }
      @include pc {
        width: 600px;
        @include posCenter();
        color: #fff;
        h2 {
          font-size: 3rem;
        }
        p {
          color: #e4e4e4;
          padding: 2rem 0;
        }
      }
    }
    button {
      @include mobile {
        @include posCenter();
        background: #fff;
      }
    }
  }
  #sec2-art2 {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3.5rem;
    height: 60vh;
    h2 {
      @include posCenter(5%);
      @include pc {
        font-size: 2rem;
      }
    }
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    :is(.col1, .col7) {
      background: #768880;
    }
    p {
      @include posCenter();
      color: #fff;
      text-align: center;
      width: 15rem;
    }
    .col1 {
      position: relative;
    }
    .col2 {
      background-image: url(./images/moment05.jpg);
    }
    .col3 {
      background-image: url(./images/moment04.jpg);
    }
    .col4 {
      background-image: url(./images/moment02.png);
    }
    .col5 {
      background-image: url(./images/moment01.jpg);
    }
    .col6 {
      background-image: url(./images/moment03.jpg);
    }
    @include mobile() {
      .col1 {
        position: relative;
        p {
          @include posCenter();
          font-size: 0.9rem;
          color: #fff;
          text-align: center;
        }
        grid-row: 1/5;
        grid-column: 1/5;
      }
      .col2 {
        grid-row: 1/3;
        grid-column: 5/-1;
      }
      .col3 {
        grid-row: 3/5;
        grid-column: 5/-1;
      }
      .col4 {
        grid-row: 5/7;
        grid-column: 1/3;
      }
      .col5 {
        grid-row: 7/-1;
        grid-column: 1/3;
      }
      .col6 {
        grid-row: 5/-1;
        grid-column: 3/-1;
      }
      .col7 {
        display: none;
      }
    }
    @include pc() {
      p {
        width: 20rem;
        font-size: 0.7rem;
      }
      .col1 {
        position: relative;
        grid-row: 1/3;
        grid-column: 4/6;
      }
      .col2 {
        grid-row: 6/-1;
        grid-column: 4/5;
      }
      .col3 {
        grid-column: 5/-1;
        grid-row: 3/7;
      }
      .col4 {
        grid-row: 3/6;
        grid-column: 4/5;
      }
      .col5 {
        grid-row: 1/-1;
        grid-column: 1/4;
      }
      .col6 {
        grid-row: 1/3;
      }
      .col7 {
        position: relative;
        grid-row: 7/-1;
        grid-column: 5/-1;
      }
    }
  }
  @include mobile {
    margin-bottom: 30vh;
  }
  @include pc {
    margin-bottom: 5vh;
  }
}
#sec3,#sec4 {
    .artWrap {
      margin: 0 auto;
      @include pc {
        width: 45%;
      }
      @include mobile {
        width: 95%;
      }
    }
    @include pc {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      height: 350vh;
    }
    article:not(.prxArt) {
      @include pc {
        width: 100%;
      }
    }
    article {
      @include pc {
        width: 50%;
      }
    }
    .prxArt {
      figure {
        @include mobile {
          width: 100%;
          height: 50vh;
        }
        @include pc {
          width: 100%;
          height: 100%;
        }
      }
    }
    hgroup {
      margin: 5rem 0;
      h2 {
        font-weight: 500;
        font-size: 3.5rem;
      }
      h3 {
        font-weight: 500;
        font-size: 0.9rem;
        margin: 4rem 0;
      }
    }
    figure {
      @include mobile {
        width: 70%;
        height: 55vh;
      }
      @include pc {
        background-size: contain;
        margin: 0 auto;
        width: 60%;
        height: 30vh;
      }
    }
    .figureWrap {
      display: flex;
      figure {
        width: 25%;
        height: 20vh;
      }
    }
    #sec3-art1,#sec4-art1 {
      hgroup {
        @include mobile {
          text-align: center;
          h3 {
            font-size: 1.1rem;
          }
        }
      }
    }
    #sec3-art2,#sec4-art2 {
      @include mobile {
        text-align: right;
      }
      .figureWrap {
          @include mobile{
              justify-content: right;
          }
      }
    }
    #sec3-art3,#sec4-art3 {
      margin-bottom: 3rem;
    }
  }
#sec3 {
  @include pc {
    height: 350vh;
  }
  .prxArt {
    figure {
      @include pc{
        background-size: contain;
        background-position: left;
      }
      background-image: url(./images/visual03.jpg);
    }
  }
  #sec3-art1 {
    figure {
      background-image: url(./images/figure04.jpg);
    }
  }
  #sec3-art2 {
    .figureWrap {
      .leftFig {
        background-image: url(./images/lv3_2_3.png);
      }
      .rightFig {
        background-image: url(./images/lv3_6.png);
      }
    }
  }
  #sec3-art3 {
    figure {
      background-image: url(./images/figure03.jpg);
    }
    .figureWrap {
      .leftFig {
        background-image: url(./images/lv3_4_1.png);
      }
      .rightFig {
        background-image: url(./images/lv3_4_3.png);
      }
    }
  }
}
#sec4 {
  @include pc {
    flex-direction: row-reverse;
    height: 353vh;
  }
  .prxArt {
    figure {
      @include pc{
        background-size: contain;
        background-position-x: 50vw;
      }
      background-image: url(./images/visual02.jpg);
    }
  }
  #sec4-art1 {
    hgroup {
      @include mobile {
        text-align: center;
        font-weight: 600;
      }
    }
    figure {
      width: 100%;
      background-image: url(./images/figure02.jpg);
    }
  }
  #sec4-art2 {
    .figureWrap {
      .leftFig {
        background-image: url(./images/flex-fig1.png);
      }
      .rightFig {
        background-image: url(./images/flex-fig2.png);
      }
    }
  }
  #sec4-art3 {
    @include mobile {
        text-align: left;
      }
    figure {
      background-image: url(./images/figure01.jpg);
    }
    .figureWrap {
      .leftFig {
        background-image: url(./images/lv3_6_1.png);
      }
      .rightFig {
        background-image: url(./images/lv3_1.png);
      }
    }
  }

}
#sec5{
    #sec5-art1 {
        text-align: center;
        padding: 1rem 0 10rem;
        @include pc{
            h2{
                margin-top: 2rem;
            }
        }
        .linkBox {
          margin: 0 auto;
          a {
            width: 200px;
            height: 30px;
            line-height: 30px;
          }
        }
        .mySwiper {
          swiper-slide:nth-child(1) {
            background-image: url(./images/rr_0.jpg);
          }
          swiper-slide:nth-child(2) {
            background-image: url(./images/rr_1.jpg);
          }
          swiper-slide:nth-child(3) {
            background-image: url(./images/rr_2.jpg);
          }
          swiper-slide:nth-child(4) {
            background-image: url(./images/rr_3.jpg);
          }
          swiper-slide:nth-child(5) {
            background-image: url(./images/rr_5.jpg);
          }
        }
      }
}
footer {
  .inner {
    h2{
        @include pc{
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #ccc;
        }
    }
    padding: 1rem;
    @include mobile {
      font-size: 0.8rem;
    }
    .footerMenu {
      margin: 1rem 0;
      gap: 2rem;
    }
    .copyRight {
      padding: 1rem 0;
      text-align: center;
    }
  }
}
